body {
   background-image:url('img/background.png');
   background-position:center top;
   background-attachment:fixed;
   background-size: cover;
   margin: 0px;
   color: #000;
   font-family: helvetica, times;
   font-size: 16px;
   margin-top: 10px;
}

body a {
  color: #fc05ca;
}

body a:hover {
  color: #ba05fc;
}

body h2 {
  text-align: center;
}
    
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  border-radius: 20px;
  top: 50px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 25px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #fc05ca;
  color: #ffffff;
}

.main {
  background-color: #333;
  margin: 0 auto;
  width: 90%;
  color: #ffffff;
  border-radius: 20px;
  text-indent: 20px;
  padding: 10px 10px;
}

.main p {
  margin: 0 auto;
  text-align: center;
  line-height: 1.25;
  margin-left: 10px;
  margin-right: 10px;
}

.main b {
  color: #ae5cbc;
}

.footer {
 text-align: center;
 padding-top: 10px;
}



.author {
  border-radius: 20px;
  color: #ffffff;
  background-color: #515151;
  width: 20%;
  padding: 10px 10px;
  margin: 20px;
  margin-bottom: 20px;
  display: inline-block;
  min-width: 100px;
  max-width: 200px;
}

.author p {
  color: #ffffff;
  size: 5px;
  text-align: center;
}

.author img {
  border-radius: 30px;
  display: block;
  margin: 0 auto;
}

.author img:hover {
  animation-name: profilepic;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}

.author a {
  text-align: center;
  display: block;
  text-indent: 0px;
  padding: 0px 0px;
}

@keyframes profilepic {
  100% {
    border-radius: 10px;
  }
}

.announcement {
  color: #f22724;
  font-weight: bold;

}